html, body
{
    background: radial-gradient(circle at center, #2C2C2C, #1C1C1C);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
}

.button-row 
{
    display: flex; /* Use flexbox for the button row */
    gap: 20px; /* Space between buttons */
    margin-bottom: 20px; /* Space between buttons and the div */
}

.button 
{
    padding: 10px 20px; /* Button padding */
    background-color: gray; /* Button background color */
    color: gainsboro; /* Button text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: 0.3s ease-in-out transform; /* Smooth background color transition */
}

.button:hover 
{
    transform: scale(1.25);
}

.canvas-holder
{
    background-color: #1a1a1a;
    text-align: center;
    display: flex; /* Use flexbox for centering content */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */

}

canvas 
{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    animation: pop 0.5s ease forwards;
}

@keyframes pop {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}