<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lemme-draw-that</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="/static/script.js"></script>
    <link rel="stylesheet" href="/static/style.css"> 
</head>


<body style = "width: 100%;">

    <!-- HOST & JOIN & NUM-PAD -->
    <div id = "starter-div">

        <!-- HOST & JOIN -->
        <div id = "hNj" class="button-row">
            <div class="button-container">
                <div class="info-circle">
                    <div class="info-icon">?</div>
                    <div class="info-text">Host a room and invite others.</div>
                    
                </div>
                <button class="button" onclick="onHost(this)">HOST</button>
            </div>

            <div class="button-container">
                <div class="info-circle">
                    <div class="info-icon">?</div>
                    <div class="info-text">Join a room others created.</div>
                    
                </div>
                <button class="button" onclick="onJoin(this)">JOIN</button>
            </div>

            
        </div>


        <!-- NUMPAD -->
        <div id = "join-pad" class="num-pad" style="display: none;">
            <button class="button" onclick="numPadClick(this, 1)">1</button>
            <button class="button" onclick="numPadClick(this, 2)">2</button>
            <button class="button" onclick="numPadClick(this, 3)">3</button>
            <button class="button" onclick="numPadClick(this, 4)">4</button>
            <button class="button" onclick="numPadClick(this, 5)">5</button>
            <button class="button" onclick="numPadClick(this, 6)">6</button>
            <button class="button" onclick="numPadClick(this, 7)">7</button>
            <button class="button" onclick="numPadClick(this, 8)">8</button>
            <button class="button" onclick="numPadClick(this, 9)">9</button>        
            <button class="button" onclick="numPadClick(this, 10)">DEL</button>
            <button class="button" onclick="numPadClick(this, 0)">0</button>
            <button class="button" onclick="numPadClick(this, 11)">OK</button>
        </div>
        <p id = 'num-pad-info' style="text-align: center"></p>

    </div>
    

    <!-- BUTTONS & CANVAS -->
    <div id = "content" style="display: none;">

        <!-- Canvas -->
        <div id ="canvas-holder" >
            <canvas id="canvas" width="300" height="300"></canvas>
        </div>

        <!-- Button row -->
        <div class="button-row" style="overflow-wrap: anywhere;">


            <div class="button-container">
                <div class="info-circle">
                    <div class="info-icon">?</div>
                    <div class="info-text">Reset the canvas to all.</div>
                    
                </div>
                <button class="button c-button highlight" onclick="onClearOrigin(this)">CLEAR</button>
            </div>


            <div class="button-container">
                <div class="info-circle">
                    <div class="info-icon">?</div>
                    <div class="info-text">Switch brush modes locally.</div>
                    
                </div>
                <button id="eraser-button" class="button c-button" 
                onclick="onEraser(this)">[E]RASER</button>
            </div>

            
            <div class="button-container">
                <div class="info-circle">
                    <div class="info-icon">?</div>
                    <div class="info-text">Get a random word, others get the length.</div>
                    
                </div>
                <button class="button c-button" onclick="onGuessOrigin(this)">GUESSER</button>
            </div>


            <div class="button-container">
                <div class="info-circle">
                    <div class="info-icon">?</div>
                    <div class="info-text">Save current canvas locally.</div>
                    
                </div>
                <button class="button c-button" onclick="saveAsPng(this)">SAVE</button>
            </div>


            <div class="button-container">
                <div class="info-circle">
                    <div class="info-icon">?</div>
                    <div class="info-text">Leave room, close if empty.</div>
                    
                </div>
                <button class="button c-button" onclick="leaveRoom(this)">LEAVE</button>
            </div>


            <div class="button-container">
                <div class="info-circle">
                    <div class="info-icon">?</div>
                    <div class="info-text">Disable or enable new users from joining.</div>
                    
                </div>
                <button id="lock-but" class="button c-button" onclick="onLockOrigin(this)">LOCK</button>
            </div>
            
        </div>


        
    </div>


    <!-- ROOM KEY & GUESSER & USER LIST -->
    <div id ='content-info' style="text-align: center;">

        <!-- key -->
        <p id="room-info-el"></p>

        <!-- guesser -->
        <p id="info-el" class = "removeable"
        onclick="(() => this.innerText='')()"></p>

        <!-- user list -->
        <div id = 'user-list'>
        </div>
    </div>


</body>



</html>
