<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <title>Lemme-draw-that</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="/static/script.js"></script>
    <link rel="stylesheet" href="/static/style.css"> 
</head>


<body>

    <!-- Button row above canvas -->
    <div class="button-row">


        <div class="button-container">
            <div class="info-circle">
                <div class="info-icon">?</div>
                <div class="info-text">Reset the canvas.</div>
                
            </div>
            <button class="button" onclick="onClearOrigin()">CLEAR</button>
        </div>


        <div class="button-container">
            <div class="info-circle">
                <div class="info-icon">?</div>
                <div class="info-text">Switch brush modes.</div>
                
            </div>
            <button id="eraser-button" class="button" 
            onclick="onEraser(this)">[E]RASER</button>
        </div>

        
        <div class="button-container">
            <div class="info-circle">
                <div class="info-icon">?</div>
                <div class="info-text">Get a random word, others get the length.</div>
                
            </div>
            <button class="button" onclick="onGuessOrigin()">GUESSER</button>
        </div>



        <div class="button-container">
            <div class="info-circle">
                <div class="info-icon">?</div>
                <div class="info-text">Save current canvas.</div>
                
            </div>
            <button class="button" onclick="save()">SAVE</button>
        </div>


        <div class="button-container">
            <div class="info-circle">
                <div class="info-icon">?</div>
                <div class="info-text">View previous canvases, load one.</div>
                
            </div>
            <button class="button">LOAD</button>
        </div>

        
    </div>

    
    <!-- Canvas and text above it -->
    <div id ="canvas-holder" >
        <canvas id="canvas" width="300" height="300"></canvas>
    </div>

    <!-- wbr = empty char to keep ratio size the same -->
    <p id="info-el" class = "removeable"
     onclick="(() => this.innerText='\n')()"><wbr /></p>


</body>



</html>
